.react-modal-overlay {
  background: rgba(0, 0, 0, 0.8);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.react-modal-content {
  width: 80%;
  max-width: 576px;
  background: #6c6e71;
  padding: 1.25rem;
  position: relative;
  border-radius: 0.24rem;
}

.react-modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: 0;
  background: transparent;

  transition: filter(0.2s);
}

.container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container p {
  font-size: 1.25rem;
}

.container .buttons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.buttons .cancelButton {
  background: #bf0d00
}

.buttons .cancelButton:hover {
  border: #4f0404
}

.buttons .moveButton {
  background: var(--confirm-button-bg-color)
}

.buttons .cancelButton:hover {
  border: #4f0404
}