:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-appearance: none;
  appearance: none;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --confirm-button-bg-color: #0063FF;
  --confirm-button-bg-color-border: #0063FF;
  --cancel-button-bg-color: #bf0d00;
}

* {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  background: #1a1a1a;
  color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 55px;
  color: white;
  align-items: flex-start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
  -webkit-text-fill-color: white;
  transition: border-color 0.25s;
}

button:hover {
  filter: brightness(1.1)
}

button:active {
  transform: scale(0.975)
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
